/*COlORS

l_blue: #4B9EC4
blue: #2C68B0
yellow: #F3BD32
orange: #DC6E19
red: #F04022
*/

/*FONTS
font-family: 'Yellowtail', cursive;
font-family: 'Vast Shadow', cursive;
font-family: 'Istok Web', sans-serif;
font-family: 'Eater', cursive;
*/
